.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-right: 0px;
    background-color: white;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 1200px;
    position: relative;
}

.titulo-caja {
    display: grid;
    grid-column: span 5 / span 5; 
    grid-template-rows: auto auto; 
    justify-content: center;
    text-align: center;
    color: rgb(8, 19, 36);
    margin-top: 35px;

}

.parent h1 {
    position: absolute;
    top: 20px; 
    left:  50px; 
    font-size: 2rem;
    font-weight: bold;
    color: rgb(6, 13, 25);
}

.lista-productos {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    overflow-y: auto;
    max-height: 400px;
}

.total {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
}

#botonCarrito {
    background-color: rgb(177, 21, 21);
    border-radius: 8px;
}

#divCarrito {
    background-color: rgba(128, 128, 128, 0.219);
    justify-content: space-evenly;
    border-radius: 10px;
}

#divContenidoCarrito {
    color: black;
    padding: 1%;
    gap: 10%;
    align-items: center;
}

#divIncrementadores {
    width: 15vw;
    justify-content: space-evenly;
    align-items: center;
}

#divTotal {
    gap: 10%;
    color: black;
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 10px;
}

#btnVenta {
    border-radius: 10px
}